$font-color:#333;
$font-color2:#666;

a:hover{ color:#f33; text-decoration:underline;}
img{
    display: block;
}

.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.top{
    position: relative;
    z-index: 997;
    height: 29px;
    font: 12px/29px arial;
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    .top-left{
        float: left;
        .t-home{
            padding: 0 20px 0 0;
            a{
                color: $font-color2;
                text-decoration: none;
            }
        }
        .t-login{
            padding: 0 20px 0 0;
            color: $font-color2;
            a{
                color: #36c;
                text-decoration: none;
            }
        }
        .t-register{
            a{
                color: #36c;
                text-decoration: none;
            }
        }
    }

    .t-home a:hover, .t-login a:hover, .t-register a:hover{
        color:#f33;
        text-decoration:underline;
    }
    .top-right{
        float: right;
        margin: 0 -10px 0 0;
        a:hover{
            color: #c00;
            text-decoration: underline;
        }
        li{
            float: left;
            margin: 0 10px;
            height: 29px;
            font: 12px/29px arial;
            position: relative;
            a{
                display: inline-block;
                color: $font-color2;
                text-decoration: none;
            }
        }
        .focus-on{
            display: none;            
            width: 88px;
            position: absolute;
            top: 29px;
            left: 0;
            padding: 3px 9px;
            background: #fff;
            border: 1px solid #ededed;
            .padding0{
                display: inline-block;
                color: #666;
                text-decoration: none;
                padding: 0;
            }
            .colornum{
                color: #c00;
            }
        }
        .ewm{
            display: none;
            position: absolute;
            top: 29px;
            left: 0;
            padding: 20px;
            width: 130px;
            height: 130px;
            border: 1px solid #ededed;
            background: #fff;
            img{
                width: 130px;
                height: 130px;
            }
        }
        .phonenum{
            display: none;            
            position: absolute;
            top: 29px;
            right: 0;
            padding: 3px 9px;
            width: 80px;
            border: 1px solid #ededed;
            font: 12px/28px arial;
            text-align: right;
            background: #fff;
        }
        .my-center{
            margin: 0;
            a{
                position: relative;
                padding: 0 23px 0 10px;
                .ico{
                    position: absolute;
                    top: 13px;
                    right: 10px;
                    width: 7px;
                    height: 4px;
                    background: url(../images/topbar_ico.png) no-repeat 0 -45px;
                }
            }
        }
        .mobile{
            margin: 0;
            a{
                padding: 0 23px 0 25px;
                background: url(../images/topbar_ico.png) no-repeat;
                position: relative;
                .ico{
                    position: absolute;
                    top: 13px;
                    right: 10px;
                    width: 7px;
                    height: 4px;
                    background: url(../images/topbar_ico.png) no-repeat 0 -45px;
                }
            }
        }
        .contact-customer{
            a{
                position: relative;
                padding: 0 23px 0 10px;
                .ico{
                    position: absolute;
                    top: 13px;
                    right: 10px;
                    width: 7px;
                    height: 4px;
                    background: url(../images/topbar_ico.png) no-repeat 0 -45px;
                }
            }
        }
    }
}


.header{
    padding: 30px 0;
    background: #fff;
    h1{
        float: left;
        a{
            display: block;
            width: 130px;
            height: 60px;
            background-image: url(http://icon.zol-img.com.cn/newshop/shop/index/logo_130x60.png);
            background-image: -webkit-image-set(url(http://icon.zol-img.com.cn/newshop/shop/index/logo_130x60.png) 1x,url(http://icon.zol-img.com.cn/newshop/shop/index/logo_216x100.png) 2x);
            background-repeat: no-repeat;
            font: 0/0 arial;
            overflow: hidden;
        }
    }
}
.city-location{
    float: left;
    position: relative;
    zoom: 1;
    margin: 10px 0 0 20px;
    border: 1px solid #e6e6e6;
    z-index: 103;
    span{
        display: block;
        position: relative;
        padding: 0 26px 0 12px;
        height: 26px;
        font: 14px/26px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
        color: $font-color;
        background-color: #fff;
        z-index: 5;
        cursor: pointer;
        em{
            position: absolute;
            right: 12px;
            top: 11px;
            width: 9px;
            height: 5px;
            background: url(../images/head.png) no-repeat -28px -155px;
            font: 0/0 arial;
        }
    }
    ul{
        display: none;
        width: 180px;
        padding: 8px 0;
        position: absolute;
        left: -1px;
        top: 25px;
        background-color: #fff;
        z-index: 4;
        border: 1px solid #e6e6e6;
        li{
            float: left;
            padding: 2px 10px;
            height: 26px;
            font: 12px/26px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
            a{
                display: inline-block;
                padding: 0 8px;
                color: $font-color;
                white-space: nowrap;
            }
        }
    }
}
.search-box{
    float: left;
    margin: 7px 0 0 70px;
    .search{
        position: relative;
        zoom: 1;
        z-index: 102;
        width: 536px;
        height: 32px;
        border: 2px solid #ec3639;
        .search-text{
            padding: 6px 10px;
            width: 441px;
            height: 20px;
            font: 14px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
            color: $font-color2;
            border: 0 none;
            outline: 0 none;
        }
        .search-btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 75px;
            height: 32px;
            font: 16px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
            color: #fff;
            border: 0 none;
            background: #ec3639;
            outline: 0 none;
            cursor: pointer;
        }
        .search-hot-words {
            position: absolute;
            top: 7px;
            right: 85px;
            a{
                display: inline-block;
                margin: 0 0 0 5px;
                padding: 0 5px;
                font: 12px/18px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
                background: #eee;
                color: #757575;
                transition: all .2s;
            }
            a:hover {
                background: #ec3639;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.quick-entry{
    float: right;
    margin: 0 0 0 65px;
    padding: 7px 0 0;
    a{
        position: relative;
        zoom: 1;
        float: left;
        margin: 0 0 0 20px;
        font: 14px/36px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
        color:$font-color;
    }
    a:hover {
        text-decoration: none;
    }
    .order{
        padding: 0 0 0 28px;
        .ico{
            top: 8px;
            width: 20px;
            height: 20px;
            background:url(../images/head.png) no-repeat 0 -167px;
        }
    }
    .coupn{
        padding: 0 0 0 27px;
        .ico{
            top: 9px;
            width: 22px;
            height: 18px;
            background:url(../images/head.png) no-repeat 0 -190px;
        }
    }
    .cart{
        padding: 0 0 0 24px;
        .ico{
            top: 9px;
            width: 18px;
            height: 18px;
            background:url(../images/head.png) no-repeat 0 -211px; 
        }
        .number{
            position: absolute;
            left: 12px; 
            top: 1px; 
            padding: 0 3px;
            background: red;
            color: white;
            height: 13px;
            font: 12px/13px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
            border-radius: 10px;
        }
        
    }
    .ico{
        position: absolute;
        top: 0;
        left: 0;
        font: 0/0 arial;
    }
}

.nav-box{
    background: white;
    ul{
        padding: 0 0 0 180px;
        li{
            float: left;
            padding-right: 30px;
            height: 39px; 
            font: 18px/39px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
            a{
                float: left;
                padding: 0 10px;
                color: $font-color;
            }
            a:hover{
                color: #f33;
                text-decoration: none;
            }
        }
        .redcolor{
            a{
                color: #f33;
            }
        }
    }
    .category-nav{
        width: 160px;
        height: 39px;
        float: left;
        position: relative;
        margin: -39px 0 0;
        background-color: #ec3639;
        z-index: 10;
        .category-nav-header{
            padding: 0 0 0 52px;
            font: 16px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
            color: white;
            cursor: pointer;
            i{
                width: 12px; 
                height: 10px; 
                position: absolute;
                background-position: 0 -154px;
                left: 26px; 
                top: 14px;
            }
        }
        .category-nav-body{
            width: 160px;
            position: absolute;
            top: 39px; 
            left: 0;
            background: #fff;
            .category-items{
                overflow: hidden;
                height: 400px;
                background: #454545;
                position: relative;
            }
            .item{
                height: 54px;
                border-top: 1px solid #4d4d4d;
                margin: -1px 10px 0;
                position: relative;
                padding: 0 0 0 42px;
                h3{
                    height: 54px;
                    font: 16px/54px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
                    i{
                        position: absolute;
                        background-position: -44px -154px;
                        width: 6px; 
                        height: 11px;
                        right: 12px; 
                        top: 23px;
                    }
                }
                a{
                    color: white;
                }
            }
            .hover{
                margin: -1px 0 0;
                padding: 0 0 0 51px;
                border-left: 2px solid #454545;
                background: #fff;
                z-index: 2;
                a{
                    color: #333;

                }
                .icon-01{
                    background-position: -37px 0;
                    left: 24px;
                }
                .icon-02{
                    background-position: -30px -21px;
                    left: 20px;
                }
                .icon-03{
                    background-position: -31px -133px;
                    left: 21px;
                }
                .icon-04{
                    background-position: -30px -40px;
                    left: 20px;
                }
                .icon-05{
                    background-position: -35px -61px;
                    left: 23px;
                }
                .icon-06{
                    background-position: -31px -91px;
                    left: 21px;
                }
            }
            .icon-01{
                left: 16px;
                top: 17px;
                width: 13px;
                height: 18px;
                background-position: 0 0;
            }
            .icon-02{
                left: 12px;
                top: 20px;
                width: 20px;
                height: 16px;
                background-position: 0 -21px;
            }
            .icon-03{
                left: 13px;
                top: 19px;
                width: 19px;
                height: 18px;
                background-position: 0 -133px;
            }
            .icon-04{
                left: 12px;
                top: 17px;
                width: 20px;
                height: 18px;
                background-position: 0 -40px;
            }
            .icon-05{
                left: 15px;
                top: 11px;
                width: 15px;
                height: 27px;
                background-position: 0 -61px;
            }
            .icon-06{
                left: 13px;
                top: 18px;
                width: 19px;
                height: 17px;
                background-position: 0 -91px;
            }
        }
        i{
            background: url(../images/head.png) no-repeat;
            position: absolute;
        }
        .category-sub-nav{
            display: none;
            position: absolute;
            top: 0;
            left: 160px;
            width: 680px;
            height: 400px;
            background-color: #fff;
            z-index: 3;
            box-shadow: 0 0 8px 0 #ccc;
        }
        .category-sub-nav-1{
            position: relative;
            padding: 0 30px 30px;
            height: 370px;
        }
        .sub-list{
            padding: 13px 0 0 0;
            li{
                float: left;
                height: 28px;
                line-height: 28px;
                padding: 0;
            }
            a{
                display: inline-block;
                margin: 0 20px 0 0;
                font: 14px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
            }
            a:hover {
                color: #f33;
                text-decoration: underline;
            }
        }
        .sub-banner{
            position: absolute;
            bottom: 30px;
            right: 30px;
            img{
                display: block;
            }
        }
    }
}





