@charset "utf-8";
@import "header";
@import "footer";

$font-color:#333;
$font-color2:#666;

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{ margin:0;padding:0;}
body{ font:12px/1.5 "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#333;}
select,input,button{ vertical-align:middle;font-size:100%;}
ul,ol{ list-style:none;}
fieldset,img{ border:0;}
em{ font-style:normal;}
.clearfix:after{ content:"."; display:block; visibility:hidden; clear:both; height:0; font-size:0;}
.clearfix{ *zoom:1;}
img{display: block}

a{ color:#333; text-decoration:none;}
a:hover{ color:#f33; text-decoration:underline;}

@font-face {
    font-family: 'iconfont';  /* project id 22233 */
    src: url('//at.alicdn.com/t/font_ktnkt22hrotg9zfr.eot');
    src: url('//at.alicdn.com/t/font_ktnkt22hrotg9zfr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_ktnkt22hrotg9zfr.woff') format('woff'),
    url('//at.alicdn.com/t/font_ktnkt22hrotg9zfr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_ktnkt22hrotg9zfr.svg#iconfont') format('svg');
  }

  .iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
  }


.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.category-nav-body{
    display: none;
}

.zs-wrapper {
    margin: 0 auto;
    width: 1200px;
}

.zs-bread-crumbs {
    margin: 0 0 0 -8px;
    font: 12px/32px SimSun;
    color: #999;
    a{
        color: $font-color;
        margin: 0 8px;
    }
    span{
        margin: 0 8px;
    }
}

.zs-inner {
    border: 1px solid #ededed;
    overflow: hidden;
    padding-bottom: 20px;
}

.fdj {
    float: left;
    padding: 10px 0 0 20px;
    width: 400px;
    position: relative;
    z-index: 8;
}
.spic {
    width: 400px;
    height: 400px;
    float: left;
    position: relative;
    margin-bottom: 10px;
    .sf{
        background: #fff;
        opacity: 0.3;
        position: absolute;
        left:0;
        top:0;
        visibility: hidden;
    }
    img {
        width: 400px;height: 400px
    }
}
.bf{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 10px;
    left: 415px;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: white;
    visibility: hidden;
}
.bpic{
    position: absolute;
    left:0;
    top:0;
}

.imglist{
    width: 415px;
    padding: 0 0 0 1px;
    overflow: hidden;
    li{
        float: left;
        width: 70px;
        height: 70px;
        margin: 0 12px 0 0;
        position: relative;
        img{
            width: 70px;
            height: 70px;
            display: block;
        }
    }
    .border{
        border: 2px solid #c00;
    }
}



.zs-action {
    padding: 25px 0;
    a{
        float: left;
        position: relative;
        margin: 0 15px 0 0;
        padding: 0 0 0 20px;
        line-height: 22px;
        color: #666;
        i{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 46px;
            height: 22px;
            opacity: 0.25;
            background: url(../images/bg2.png) no-repeat -46px -290px;
        }
    }
    .share{
        i{
            background-position: -46px -314px;
        }
    }
}
.zs-wrap {
    float: left;
    padding: 10px 20px 0 0;
    width: 530px;
    margin-left: 50px;
    .zs-commodity-title {
        display: block;
        margin-bottom: 10px;
        font-weight: normal;
        padding: 7px 0 0;
        font: 16px/22px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    }
    .subheading {
        display: block;
        color: #999;
        font-size: 14px;
    }
    .zs-price-panel {
        margin: 0 0 0;
        padding: 5px 10px;
        background: #f7f7f7;
        dl {
            padding: 0 0 0 75px;
            position: relative;
            zoom: 1;
            line-height: 30px;
        }
        dt {
            position: absolute;
            top: 0;
            left: 0;
            width: 65px;
            color: $font-color2;
        }
        dd {
            overflow: hidden;
            zoom: 1;
        }
        .zs-price {
            float: left;
            margin: -2px 0 0;
            height: 32px;
            overflow: hidden;
            font-size: 16px;
            vertical-align: middle;
            color: #c00;
            em {
                padding: 0 0 0 5px;
                font-family: tahoma;
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
    .zs-detail-infor {
        padding: 10px 0 20px;
        dl {
            position: relative;
            zoom: 1;
        }
        .zs-freight-a {
            margin: 0 10px;
            padding: 5px 0 0;
            z-index: 2;
        }
        dt {
            position: absolute;
            top: 0;
            left: 0;
            height: 32px;
            line-height: 32px;
            color: #666;
        }
        dd {
            padding: 0 0 0 65px;
            line-height: 32px;
        }
        .zs-freight-area {
            float: left;
            position: relative;
        }
        .area-selected-wrap {
            line-height: 23px;
        }
        .area-selected {
            position: relative;
            float: left;
            z-index: 5;
            .area-name {
                position: relative;
                display: inline-block;
                height: 23px;
                border: 1px solid #e6e6e6;
                padding: 0 20px 0 6px;
                line-height: 23px;
                cursor: pointer;
                z-index: 6;
                background-color: #fff;
                background: url(../images/icon20150707.png) no-repeat 100% 0;
            }
        }
        .area-selected-infor {
            margin-left: 10px;
            float: left;
        }
        .zs-evaluate {
            margin: 5px 10px 0;
            dd{
                a{
                    color: #333; 
                }
                em {
                    color: #f33;
                    font-weight: bold;
                }
            }
            .line {
                padding: 0 10px;
                color: #e6e6e6;
            }
        }
        .zs-service-bar {
            margin: 0 10px;
            li{
                float: left;
                position: relative;
                zoom: 1;
                margin: 0 0 5px;
                padding: 0 0 0 28px;
                width: 82px;
                height: 24px;
                font: 12px/22px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
            }
            .iconfont {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 22px;
                line-height: 24px;
                color: #00ae75;
            }
            .link {
                color: #36c;
            }
        }
        .zs-skin-inner {
            margin: 10px 0px 15px;
            border-top: 1px solid #f2f2f2;
            dd {
                padding-left: 75px;
            }
            .zs-colour-type {
                padding: 0;
                dt {
                    top: 18px;
                    left: 10px;
                }
                li {
                    float: left;
                    margin: 5px 6px 0 0;
                    position: relative;
                    span {
                        white-space: nowrap;
                        display: inline-block;
                        padding: 0 10px;
                        height: 28px;
                        line-height: 28px;
                        border: 1px solid #e6e6e6;
                        color: #333;
                        background-color: #FFF;
                    }
                }
                 dd {
                    padding-bottom: 4px;
                }
            }
            .zs-colour-type, .zs-suit {
                padding: 15px 0 0;
            }
            .zs-suit{
                dt{
                    left: 10px;
                    top: 20px;
                }
                .zs-options{
                    li {
                        float: left;
                        margin: 5px 6px 0 0;
                        position: relative;
                        span{
                            white-space: nowrap;
                            display: inline-block;
                            padding: 0 10px;
                            height: 28px;
                            line-height: 28px;
                            border: 1px solid #e6e6e6;
                            color: #333;
                            background-color: #FFF;
                        }
                    }
                    .can-buy {
                        padding: 0 9px;
                        height: 26px;
                        line-height: 26px;
                        border: 2px solid #c00;
                        color: #333;
                        text-decoration: none;
                        cursor: pointer;
                    }
                } 
            }
            .zs-suit-infor {
                margin: 5px 0 0;
                padding: 8px 10px;
                border: 1px solid #e6e6e6;
                background: #fafafa;
                line-height: 20px;
            }
            .zs-quantity {
                padding: 20px 0 0;
                dt{
                    left: 10px;
                    top: 15px;
                }
                dd{
                    color: #999;
                }
            }
            .amount-widget {
                float: left;
                margin: 0 10px 0 0;
                width: 102px;
                height: 28px;
                border: 1px solid #e6e6e6;
                .zs-no-decrease {
                    background: url(../images/bg2.png) no-repeat 0 -197px;
                    float: left;
                    width: 28px;
                    height: 28px;
                    background-color: #f8f8f8;
                    cursor: pointer;
                }
            }
            .zs-goods-number {
                float: left;
                width: 44px;
                height: 28px;
                text-align: center;
                font: 12px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
                border: 0 none;
                border-left: 1px solid #e6e6e6;
                border-right: 1px solid #e6e6e6;
                color: #333;
            }
            .zs-increase {
                background: url(../images/bg2.png) no-repeat -32px -169px;
                float: left;
                width: 28px;
                height: 28px;
                background-color: #f8f8f8;
                cursor: pointer;
            }
            .zs-deal-btn {
                padding: 30px 0 0 65px;
                height: 50px;
            }
            .zs-buy-now {
                width: 140px;
                height: 50px;
                color: #fff;
                background: #c00;
                float: left;
                margin: 0 10px 0 0;
                border-radius: 2px;
                font: 18px/50px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
                text-align: center;
            }
            .zs-buy-now:hover {
                background: #b90000;
                color: #fff;
                text-decoration: none;
            }
            .zs-store-buy{
                width: 138px;
                height: 48px;
                border: 1px solid #ffd9d9;
                background-color: #ffeded;
                color: #c00;
                line-height: 48px;
                float: left;
                margin: 0 10px 0 0;
                border-radius: 2px;
                font: 18px/50px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
                text-align: center;
            }
            .zs-store-buy:hover{
                background-color: #ffe2e2;
                color: #c00;
                text-decoration: none;
            }
        }
    }
}

.footer .footer-bottom li {
    float: left;
    height: 24px;
}

.footer .footer-bottom .copyright img {
    width: 16px;
    height: 16px;
    position: relative;
    top: -19px;
    left: 10px;
}