a:hover {
  color: #f33;
  text-decoration: underline;
}

img {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.top {
  position: relative;
  z-index: 997;
  height: 29px;
  font: 12px/29px arial;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}
.top .top-left {
  float: left;
  position: relative;
}
.top .top-left .t-home {
  padding: 0 20px 0 0;
}
.top .top-left .t-home a {
  color: #666;
  text-decoration: none;
}
.top .top-left .login {
  width: 220px;
  height: 30px;
  position: absolute;
  left: 71px;
  top: 0;
}
.top .top-left .admin {
  width: 220px;
  height: 30px;
  position: absolute;
  left: 71px;
  top: 0;
}
.top .top-left .user {
  color: #36c;
}
.top .top-left .t-login {
  padding: 0 20px 0 0;
  color: #666;
}
.top .top-left .t-login a {
  color: #36c;
  text-decoration: none;
}
.top .top-left .t-register a {
  color: #36c;
  text-decoration: none;
}
.top .t-home a:hover, .top .t-login a:hover, .top .t-register a:hover {
  color: #f33;
  text-decoration: underline;
}
.top .top-right {
  float: right;
  margin: 0 -10px 0 0;
}
.top .top-right a:hover {
  color: #c00;
  text-decoration: underline;
}
.top .top-right li {
  float: left;
  margin: 0 10px;
  height: 29px;
  font: 12px/29px arial;
  position: relative;
}
.top .top-right li a {
  display: inline-block;
  color: #666;
  text-decoration: none;
}
.top .top-right .focus-on {
  display: none;
  width: 88px;
  position: absolute;
  top: 29px;
  left: 0;
  padding: 3px 9px;
  background: #fff;
  border: 1px solid #ededed;
}
.top .top-right .focus-on .padding0 {
  display: inline-block;
  color: #666;
  text-decoration: none;
  padding: 0;
}
.top .top-right .focus-on .colornum {
  color: #c00;
}
.top .top-right .ewm {
  display: none;
  position: absolute;
  top: 29px;
  left: 0;
  padding: 20px;
  width: 130px;
  height: 130px;
  border: 1px solid #ededed;
  background: #fff;
}
.top .top-right .ewm img {
  width: 130px;
  height: 130px;
}
.top .top-right .phonenum {
  display: none;
  position: absolute;
  top: 29px;
  right: 0;
  padding: 3px 9px;
  width: 80px;
  border: 1px solid #ededed;
  font: 12px/28px arial;
  text-align: right;
  background: #fff;
}
.top .top-right .my-center {
  margin: 0;
}
.top .top-right .my-center a {
  position: relative;
  padding: 0 23px 0 10px;
}
.top .top-right .my-center a .ico {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 7px;
  height: 4px;
  background: url(../images/topbar_ico.png) no-repeat 0 -45px;
}
.top .top-right .mobile {
  margin: 0;
}
.top .top-right .mobile a {
  padding: 0 23px 0 25px;
  background: url(../images/topbar_ico.png) no-repeat;
  position: relative;
}
.top .top-right .mobile a .ico {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 7px;
  height: 4px;
  background: url(../images/topbar_ico.png) no-repeat 0 -45px;
}
.top .top-right .contact-customer a {
  position: relative;
  padding: 0 23px 0 10px;
}
.top .top-right .contact-customer a .ico {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 7px;
  height: 4px;
  background: url(../images/topbar_ico.png) no-repeat 0 -45px;
}

.header {
  padding: 30px 0;
  background: #fff;
}
.header h1 {
  float: left;
}
.header h1 a {
  display: block;
  width: 130px;
  height: 60px;
  background-image: url(http://icon.zol-img.com.cn/newshop/shop/index/logo_130x60.png);
  background-image: -webkit-image-set(url(http://icon.zol-img.com.cn/newshop/shop/index/logo_130x60.png) 1x, url(http://icon.zol-img.com.cn/newshop/shop/index/logo_216x100.png) 2x);
  background-repeat: no-repeat;
  font: 0/0 arial;
  overflow: hidden;
}

.city-location {
  float: left;
  position: relative;
  zoom: 1;
  margin: 10px 0 0 20px;
  border: 1px solid #e6e6e6;
  z-index: 103;
}
.city-location span {
  display: block;
  position: relative;
  padding: 0 26px 0 12px;
  height: 26px;
  font: 14px/26px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  color: #333;
  background-color: #fff;
  z-index: 5;
  cursor: pointer;
}
.city-location span em {
  position: absolute;
  right: 12px;
  top: 11px;
  width: 9px;
  height: 5px;
  background: url(../images/head.png) no-repeat -28px -155px;
  font: 0/0 arial;
}
.city-location ul {
  display: none;
  width: 180px;
  padding: 8px 0;
  position: absolute;
  left: -1px;
  top: 25px;
  background-color: #fff;
  z-index: 4;
  border: 1px solid #e6e6e6;
}
.city-location ul li {
  float: left;
  padding: 2px 10px;
  height: 26px;
  font: 12px/26px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.city-location ul li a {
  display: inline-block;
  padding: 0 8px;
  color: #333;
  white-space: nowrap;
}

.search-box {
  float: left;
  margin: 7px 0 0 70px;
}
.search-box .search {
  position: relative;
  zoom: 1;
  z-index: 102;
  width: 536px;
  height: 32px;
  border: 2px solid #ec3639;
}
.search-box .search .search-text {
  padding: 6px 10px;
  width: 441px;
  height: 20px;
  font: 14px/20px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  color: #666;
  border: 0 none;
  outline: 0 none;
}
.search-box .search .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 32px;
  font: 16px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  color: #fff;
  border: 0 none;
  background: #ec3639;
  outline: 0 none;
  cursor: pointer;
}
.search-box .search .search-hot-words {
  position: absolute;
  top: 7px;
  right: 85px;
}
.search-box .search .search-hot-words a {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0 5px;
  font: 12px/18px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  background: #eee;
  color: #757575;
  transition: all .2s;
}
.search-box .search .search-hot-words a:hover {
  background: #ec3639;
  color: #fff;
  text-decoration: none;
}

.quick-entry {
  float: right;
  margin: 0 0 0 65px;
  padding: 7px 0 0;
}
.quick-entry a {
  position: relative;
  zoom: 1;
  float: left;
  margin: 0 0 0 20px;
  font: 14px/36px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  color: #333;
}
.quick-entry a:hover {
  text-decoration: none;
}
.quick-entry .order {
  padding: 0 0 0 28px;
}
.quick-entry .order .ico {
  top: 8px;
  width: 20px;
  height: 20px;
  background: url(../images/head.png) no-repeat 0 -167px;
}
.quick-entry .coupn {
  padding: 0 0 0 27px;
}
.quick-entry .coupn .ico {
  top: 9px;
  width: 22px;
  height: 18px;
  background: url(../images/head.png) no-repeat 0 -190px;
}
.quick-entry .cart {
  padding: 0 0 0 24px;
}
.quick-entry .cart .ico {
  top: 9px;
  width: 18px;
  height: 18px;
  background: url(../images/head.png) no-repeat 0 -211px;
}
.quick-entry .cart .number {
  position: absolute;
  left: 12px;
  top: 1px;
  padding: 0 3px;
  background: red;
  color: white;
  height: 13px;
  font: 12px/13px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  border-radius: 10px;
}
.quick-entry .ico {
  position: absolute;
  top: 0;
  left: 0;
  font: 0/0 arial;
}

.nav-box {
  background: white;
}
.nav-box ul {
  padding: 0 0 0 180px;
}
.nav-box ul li {
  float: left;
  padding-right: 30px;
  height: 39px;
  font: 18px/39px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.nav-box ul li a {
  float: left;
  padding: 0 10px;
  color: #333;
}
.nav-box ul li a:hover {
  color: #f33;
  text-decoration: none;
}
.nav-box ul .redcolor a {
  color: #f33;
}
.nav-box .category-nav {
  width: 160px;
  height: 39px;
  float: left;
  position: relative;
  margin: -39px 0 0;
  background-color: #ec3639;
  z-index: 10;
}
.nav-box .category-nav .category-nav-header {
  padding: 0 0 0 52px;
  font: 16px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  color: white;
  cursor: pointer;
}
.nav-box .category-nav .category-nav-header i {
  width: 12px;
  height: 10px;
  position: absolute;
  background-position: 0 -154px;
  left: 26px;
  top: 14px;
}
.nav-box .category-nav .category-nav-body {
  width: 160px;
  position: absolute;
  top: 39px;
  left: 0;
  background: #fff;
}
.nav-box .category-nav .category-nav-body .category-items {
  overflow: hidden;
  height: 400px;
  background: #454545;
  position: relative;
}
.nav-box .category-nav .category-nav-body .item {
  height: 54px;
  border-top: 1px solid #4d4d4d;
  margin: -1px 10px 0;
  position: relative;
  padding: 0 0 0 42px;
}
.nav-box .category-nav .category-nav-body .item h3 {
  height: 54px;
  font: 16px/54px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.nav-box .category-nav .category-nav-body .item h3 i {
  position: absolute;
  background-position: -44px -154px;
  width: 6px;
  height: 11px;
  right: 12px;
  top: 23px;
}
.nav-box .category-nav .category-nav-body .item a {
  color: white;
}
.nav-box .category-nav .category-nav-body .hover {
  margin: -1px 0 0;
  padding: 0 0 0 51px;
  border-left: 2px solid #454545;
  background: #fff;
  z-index: 2;
}
.nav-box .category-nav .category-nav-body .hover a {
  color: #333;
}
.nav-box .category-nav .category-nav-body .hover .icon-01 {
  background-position: -37px 0;
  left: 24px;
}
.nav-box .category-nav .category-nav-body .hover .icon-02 {
  background-position: -30px -21px;
  left: 20px;
}
.nav-box .category-nav .category-nav-body .hover .icon-03 {
  background-position: -31px -133px;
  left: 21px;
}
.nav-box .category-nav .category-nav-body .hover .icon-04 {
  background-position: -30px -40px;
  left: 20px;
}
.nav-box .category-nav .category-nav-body .hover .icon-05 {
  background-position: -35px -61px;
  left: 23px;
}
.nav-box .category-nav .category-nav-body .hover .icon-06 {
  background-position: -31px -91px;
  left: 21px;
}
.nav-box .category-nav .category-nav-body .icon-01 {
  left: 16px;
  top: 17px;
  width: 13px;
  height: 18px;
  background-position: 0 0;
}
.nav-box .category-nav .category-nav-body .icon-02 {
  left: 12px;
  top: 20px;
  width: 20px;
  height: 16px;
  background-position: 0 -21px;
}
.nav-box .category-nav .category-nav-body .icon-03 {
  left: 13px;
  top: 19px;
  width: 19px;
  height: 18px;
  background-position: 0 -133px;
}
.nav-box .category-nav .category-nav-body .icon-04 {
  left: 12px;
  top: 17px;
  width: 20px;
  height: 18px;
  background-position: 0 -40px;
}
.nav-box .category-nav .category-nav-body .icon-05 {
  left: 15px;
  top: 11px;
  width: 15px;
  height: 27px;
  background-position: 0 -61px;
}
.nav-box .category-nav .category-nav-body .icon-06 {
  left: 13px;
  top: 18px;
  width: 19px;
  height: 17px;
  background-position: 0 -91px;
}
.nav-box .category-nav i {
  background: url(../images/head.png) no-repeat;
  position: absolute;
}
.nav-box .category-nav .category-sub-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
  width: 680px;
  height: 400px;
  background-color: #fff;
  z-index: 3;
  box-shadow: 0 0 8px 0 #ccc;
}
.nav-box .category-nav .category-sub-nav-1 {
  position: relative;
  padding: 0 30px 30px;
  height: 370px;
}
.nav-box .category-nav .sub-list {
  padding: 13px 0 0 0;
}
.nav-box .category-nav .sub-list li {
  float: left;
  height: 28px;
  line-height: 28px;
  padding: 0;
}
.nav-box .category-nav .sub-list a {
  display: inline-block;
  margin: 0 20px 0 0;
  font: 14px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.nav-box .category-nav .sub-list a:hover {
  color: #f33;
  text-decoration: underline;
}
.nav-box .category-nav .sub-banner {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.nav-box .category-nav .sub-banner img {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.footer {
  margin: 30px 0 0;
  border-top: 1px solid #d9d9d9;
}
.footer .service {
  padding: 30px 0;
}
.footer .service li {
  position: relative;
  float: left;
  width: 200px;
  height: 50px;
  background: url(../images/service-bg.png) no-repeat;
}
.footer .service .service1 {
  background-position: left top;
}
.footer .service .service2 {
  background-position: left -52px;
}
.footer .service .service3 {
  background-position: left -104px;
}
.footer .service .service4 {
  background-position: left -156px;
}
.footer .service .service5 {
  background-position: left -208px;
}
.footer .service .service6 {
  background-position: left -260px;
}
.footer .service .s-top {
  font-size: 18px;
  height: 28px;
  line-height: 28px;
  color: #333;
}
.footer .service .s-bottom {
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  color: #666;
}
.footer .service a {
  display: block;
  height: 50px;
  padding-left: 60px;
}
.footer .service a:hover {
  text-decoration: none;
}
.footer .service-bot {
  padding: 20px 0;
  border-top: 1px solid #ededed;
}
.footer .service-bot dl {
  float: left;
  width: 175px;
}
.footer .service-bot dt {
  font: bold 14px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  color: #666;
}
.footer .service-bot a {
  font: 12px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  color: #666;
}
.footer .service-bot .hotline {
  width: 210px;
  padding: 0 0 0 60px;
  margin-left: 25px;
  background: url(../images/footer.png) no-repeat 0 -90px;
}
.footer .service-bot .hotline dt {
  font-size: 16px;
}
.footer .service-bot .cooperation {
  width: 145px;
  padding: 0 0 0 60px;
  background: url(../images/footer.png) no-repeat 0 -215px;
  float: right;
}
.footer .service-bot .cooperation dt {
  font-size: 16px;
}
.footer .service-bot .cooperation .btn {
  display: block;
  width: 80px;
  height: 26px;
  font: 12px/26px SimSun;
  color: white;
  text-align: center;
  background: #f33;
  border-radius: 2px;
  margin: 6px 0 0;
}
.footer .service-bot .cooperation .btn span {
  padding: 0 5px 0 0;
  font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.footer .service-bot .cooperation .btn:hover {
  background: #c40000;
  color: #fff;
  text-decoration: none;
}
.footer .service-bot p {
  font: 12px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.footer .footer-bottom {
  padding: 25px 0 30px;
  background: #2d2d2d;
}
.footer .footer-bottom .wrapper {
  position: relative;
}
.footer .footer-bottom li {
  float: left;
}
.footer .footer-bottom .line {
  margin: 0 4px;
}
.footer .footer-bottom a {
  margin: 0 10px;
  color: #fff;
  white-space: normal;
  word-break: keep-all;
}
.footer .footer-bottom .footer-nav {
  margin: 0 0 0 -10px;
  padding: 7px 0 0;
  font: 12px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  color: #666;
}
.footer .footer-bottom .copyright {
  margin: 0 0 0 -10px;
  padding: 20px 0 0;
  font: 12px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  color: #666;
}
.footer .footer-bottom .copyright a {
  margin: 0 10px;
  color: #999;
  white-space: normal;
  word-break: keep-all;
}
.footer .footer-bottom .copyright img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 4px;
}
.footer .footer-bottom .copyright span {
  padding: 0 0 0 10px;
  color: #999;
}
.footer .footer-bottom .bottom-right {
  position: absolute;
  top: 0;
  right: 0;
}
.footer .footer-bottom .bottom-right .wechat {
  float: right;
  padding: 0 0 0 34px;
  background: url(../images/icon.png) no-repeat 0 -22px;
}
.footer .footer-bottom .bottom-right a {
  display: inline-block;
  margin: 0 40px 0 0;
  color: #fff;
  height: 21px;
  line-height: 21px;
  padding: 0 0 0 34px;
  background: url(../images/icon.png) no-repeat;
}
.footer .footer-bottom .ad {
  float: right;
  color: white;
  background: #666;
  border-radius: 3px;
  margin-right: 50px;
  padding: 0 8px;
}

.b-wrapper {
  position: relative;
  overflow: hidden;
}

.b-viewport ul li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 1920px;
}

.b-viewport .focus-list {
  overflow: hidden;
  height: 400px;
}

.focus-list a img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.b-box .b-prev {
  left: 50%;
  background-position: left -94px;
  margin: -47px 0 0 -662px;
}

.b-box .b-next {
  right: 50%;
  background-position: left top;
  margin: -47px -662px 0 0;
}

.b-box .b-prev, .b-box .b-next {
  position: absolute;
  top: 50%;
  width: 62px;
  height: 94px;
  z-index: 100;
}

.b-box .b-prev .bg-mask, .b-box .b-next .bg-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 94px;
  background-color: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.b-box .b-prev .arrow, .b-box .b-next .arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 94px;
  background: url(http://icon.zol-img.com.cn/newshop/shop/index/arrow.png) no-repeat;
}

.b-box .b-prev .arrow {
  background-position: left -94px;
}

.b-box .b-next .arrow {
  background-position: left top;
}

.b-box .b-pager {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 10px;
  width: 1200px;
  height: 10px;
  margin: 0 0 0 -600px;
  overflow: hidden;
  font: 0/0 arial;
  text-align: center;
  text-indent: 1px;
}

.b-box .b-pager-item {
  margin: 0 3px 0 2px;
  text-indent: 0;
  display: inline;
}

.b-box .b-pager-item a {
  border-radius: 5px;
  background-color: #f6f6f6;
}

.b-box .b-pager-item .active {
  background-color: #ce1a1b;
}

.b-box .b-pager-item, .b-box .b-pager-item a {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: top;
  font: 0/0 arial;
  overflow: hidden;
}

body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  color: #333;
}

select, input, button {
  vertical-align: middle;
  font-size: 100%;
}

ul, ol {
  list-style: none;
}

fieldset, img {
  border: 0;
}

em {
  font-style: normal;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
}

.clearfix {
  *zoom: 1;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #f33;
  text-decoration: underline;
}

body {
  background-color: #f7f7f7;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 34px 0 0;
  zoom: 1;
  width: 1200px;
  margin: 0 auto;
}

.column-box {
  float: left;
  width: 594px;
  margin-left: 12px;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
}

.section-header {
  height: 36px;
  margin: 0 0 10px;
  padding: 0 0 0 40px;
  line-height: 36px;
  background: url(../images/zol-home-icons.png) no-repeat;
}
.section-header h3 {
  float: left;
  margin: 0 10px 0 0;
  font-size: 24px;
  font-weight: 400;
}
.section-header span {
  float: left;
  margin: 8px 0 0;
  font-size: 14px;
  line-height: 28px;
  color: #999;
}
.section-header .more {
  float: right;
  padding: 0 23px 0 0;
  height: 36px;
  overflow: hidden;
  color: #666;
  line-height: 40px;
  background: url(../images/zol-home-icons.png) no-repeat 100% -277px;
}

.column-hd {
  height: 46px;
  padding: 0 15px;
  line-height: 46px;
}

.column-box {
  float: left;
  width: 594px;
  margin-left: 12px;
}

.con-list .item {
  float: left;
  width: 160px;
  height: 260px;
  padding: 0 19px;
  background-color: #fff;
}
.con-list .item-upward {
  position: relative;
  margin-bottom: 10px;
}
.con-list .item-upward .pic {
  padding: 10px 0;
  display: block;
}
.con-list .item-upward img {
  width: 160px;
  height: 160px;
}
.con-list .ware-name {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.con-list .price {
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  color: #f33;
}

.column_brand-item {
  position: relative;
  float: left;
  width: 120px;
  height: 60px;
  padding: 10px 14px;
}

.tl {
  float: left;
  font-size: 18px;
  color: #fff;
}

.column-hd-tab {
  float: right;
  margin: 10px 5px 0 0;
}
.column-hd-tab .tab-btn {
  float: left;
  height: 22px;
  margin-left: 28px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.column-hd-tab .active {
  border-bottom: 3px solid white;
}

.column-con {
  background-color: #fff;
}

.con-list .item {
  float: left;
  width: 160px;
  height: 260px;
  padding: 0 19px;
}

.upward-ware {
  background: white;
}

.groupbuy .section-header {
  background-position: -137px 3px;
}
.groupbuy .groupbuy {
  height: 174px;
}
.groupbuy .groupbuy .gb-wrapper {
  position: relative;
  zoom: 1;
}
.groupbuy .groupbuy .gb-wrapper ul {
  float: left;
  width: 1200px;
  overflow: hidden;
}
.groupbuy .groupbuy .gb-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 150px;
}
.groupbuy .groupbuy .tuan-list {
  position: absolute;
  left: 0;
}
.groupbuy .groupbuy .tuan-list ul {
  float: left;
}
.groupbuy .groupbuy .tuan-list li {
  float: left;
  width: 398px;
  height: 150px;
  margin: 0 0 0 3px;
  overflow: hidden;
}
.groupbuy .groupbuy .tuan-list .one {
  background-color: #fff6dd;
  margin-left: 0;
}
.groupbuy .groupbuy .tuan-list .two {
  background-color: #ffe5e5;
}
.groupbuy .groupbuy .tuan-list .three {
  background-color: #e3f9ff;
}
.groupbuy .groupbuy .tuan-list .red-color {
  color: #f33;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-top {
  position: relative;
  height: 120px;
  padding: 15px 135px 15px 15px;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-top h4 {
  height: 22px;
  margin: 3px 0;
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;
  word-break: break-all;
  word-wrap: break-word;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-top p {
  height: 22px;
  overflow: hidden;
  font-size: 14px;
  line-height: 22px;
  color: #999;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-top .price {
  font-size: 14px;
  color: #f33;
  font-family: 'Verdana';
  line-height: 48px;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-top .price em {
  font-size: 20px;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-top .time {
  color: #999;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-top .time em {
  color: #333;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-top .tuan-pro-pic {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 120px;
  height: 120px;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-top .tuan-pro-pic img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-intro {
  position: relative;
  top: 0;
  height: 117px;
  padding: 18px 15px 15px 150px;
  background: rgba(51, 51, 51, 0.89);
}
.groupbuy .groupbuy .tuan-list .tuan-pro-intro h4 {
  height: 28px;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
  word-break: break-all;
  word-wrap: break-word;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-intro .price {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-intro .go-btn {
  display: block;
  width: 72px;
  height: 28px;
  margin: 9px 0 0;
  border-radius: 2px;
  background: #f33;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-picside {
  position: absolute;
  top: 20px;
  left: 0;
  width: 134px;
  text-align: center;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-picside img {
  width: 80px;
  height: 80px;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-picside .line {
  padding: 0 6px;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-picside a {
  color: #fff;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-picside .tuan-pro-pic {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 40px;
}
.groupbuy .groupbuy .tuan-list .tuan-pro-picside p {
  font-size: 12px;
  line-height: 36px;
  color: #fff;
}
.groupbuy .groupbuy .gb-pager {
  width: 1200px;
  height: 8px;
  padding: 15px 0 0;
  margin: 0 auto;
  overflow: hidden;
  font: 0/0 arial;
  text-align: center;
  text-indent: 1px;
  position: absolute;
  left: 0;
  top: 150px;
}
.groupbuy .groupbuy .gb-pager li {
  margin: 0 2px;
  text-indent: 0;
  display: inline;
  display: inline-block;
  width: 30px;
  height: 8px;
  vertical-align: top;
  font: 0/0 arial;
  overflow: hidden;
  background-color: #cbcbcb;
  cursor: pointer;
}
.groupbuy .groupbuy .gb-pager .bgchange {
  background-color: #eb3638;
}
.groupbuy .groupbuy .gb-prev {
  display: none;
  position: absolute;
  top: 51px;
  width: 35px;
  height: 50px;
  cursor: pointer;
  left: -42px;
  padding-right: 6px;
  background: url(../images/zol-home-icons.png) no-repeat 8px 8px;
}
.groupbuy .groupbuy .gb-next {
  display: none;
  position: absolute;
  top: 51px;
  width: 35px;
  height: 50px;
  cursor: pointer;
  right: -42px;
  padding-left: 6px;
  background: url(../images/zol-home-icons.png) no-repeat -26px 8px;
}

.couponredemption .coupon {
  margin-top: 20px;
}
.couponredemption li {
  position: relative;
  float: left;
  width: 221px;
  height: 90px;
  padding: 10px 10px 0;
  margin: 0 15px 0 0;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  -webkit-box-shadow: 1px 0 3px #e8e8e8;
  box-shadow: 1px 0 3px #e8e8e8;
}
.couponredemption .all {
  width: 137px;
  height: 92px;
  margin-right: 0;
  padding-left: 20px;
  border: 0 none;
  background: url(../images/coupon-all-bg.png) no-repeat;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.couponredemption .all h4 {
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
}
.couponredemption .all p {
  font-size: 14px;
  line-height: 21px;
  color: #fcc;
}
.couponredemption .all .look {
  font-size: 14px;
  line-height: 32px;
  color: #fff;
}
.couponredemption .ico {
  position: absolute;
  top: 0;
  right: -18px;
  width: 18px;
  height: 101px;
  background: url(../images/zol-home-icons.png) no-repeat -68px 0;
}
.couponredemption .info {
  height: 60px;
}
.couponredemption .price {
  float: left;
  height: 55px;
  width: 111px;
  text-align: left;
  font-size: 32px;
  color: #f66;
  line-height: 55px;
  overflow: hidden;
  font-weight: 700;
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.couponredemption .name {
  float: right;
  width: 100px;
}
.couponredemption .name h5 {
  height: 22px;
  padding: 6px 0 0;
  font-size: 14px;
  line-height: 22px;
  color: #f66;
  overflow: hidden;
}
.couponredemption .name p {
  color: #999;
}
.couponredemption .go-get {
  height: 29px;
  border-top: 1px solid #f3f3f3;
  line-height: 29px;
  text-align: center;
  line-height: 29px;
  color: #999;
}
.couponredemption .go-get a {
  color: #f66;
}
.couponredemption .go-get a span {
  font-family: simsun;
}

.noopsyche .section-header {
  padding-left: 39px;
  background-position: -138px -345px;
}
.noopsyche .noopsyche-inner {
  padding: 20px;
  background: #fff;
}
.noopsyche .noopsyche-focus {
  float: left;
  width: 731px;
  height: 235px;
}
.noopsyche .noopsyche-focus-tab {
  float: left;
  width: 101px;
  overflow: hidden;
}
.noopsyche .noopsyche-focus-tab li {
  height: 47px;
  margin: -1px 0 0;
  border-top: 1px solid #fff;
  background: #ececec;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}
.noopsyche .noopsyche-focus-tab .bgchange {
  background: #ce1a1b;
  color: #fff;
}
.noopsyche .noopsyche-focus-pics {
  float: left;
  width: 630px;
  height: 235px;
  overflow: hidden;
}
.noopsyche .noopsyche-focus-pics li {
  display: none;
}
.noopsyche .noopsyche-focus-pics .dischange {
  display: block;
}
.noopsyche .noopsyche-pics {
  float: right;
  width: 428px;
}
.noopsyche .noopsyche-pics a {
  float: left;
  overflow: hidden;
  zoom: 1;
  display: block;
  width: 214px;
  height: 235px;
}
.noopsyche .noopsyche-pics img {
  vertical-align: middle;
  width: 214px;
  height: 235px;
  transition: all .3s;
}
.noopsyche .noopsyche-pics .bigimgbox {
  width: 428px;
  height: 182px;
}
.noopsyche .noopsyche-pics .bigimg {
  width: 428px;
  height: 182px;
}
.noopsyche .noopsyche-list {
  float: left;
}
.noopsyche .noopsyche-list li {
  position: relative;
  float: left;
  width: 182px;
  height: 182px;
  margin: 0 1px 0 0;
  overflow: hidden;
}
.noopsyche .noopsyche-list li img {
  width: 182px;
  height: 182px;
}
.noopsyche .noopsyche-list .noopsyche-pro-mark {
  position: absolute;
  top: 152px;
  left: 0;
  width: 182px;
  height: 176px;
  padding: 3px 0;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}
.noopsyche .noopsyche-list .noopsyche-pro-name {
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.noopsyche .noopsyche-list .noopsyche-pro-price {
  font-size: 16px;
  line-height: 24px;
}
.noopsyche .noopsyche-list .noopsyche-pro-btn {
  display: block;
  width: 84px;
  height: 30px;
  margin: 3px auto 13px;
  border-radius: 2px;
  background: #ce1a1b;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.noopsyche .noopsyche-list .noopsyche-pro-btn a {
  color: #fff;
}
.noopsyche .noopsyche-list .noopsyche-pro-btn a:hover {
  text-decoration: none;
}
.noopsyche .noopsyche-list .noopsyche-pro-else {
  height: 18px;
  padding: 0 0 4px;
}
.noopsyche .noopsyche-list .noopsyche-pro-else a {
  color: #fff;
}
.noopsyche .noopsyche-banner {
  padding: 2px 0 0;
}
.noopsyche .noopsyche-banner img {
  width: 1160px;
  height: 120px;
}

.brandchoice .section-header {
  background-position: -138px -125px;
}
.brandchoice .brandchoice_list {
  margin-left: -12px;
}
.brandchoice .brandchoice_list .item {
  float: left;
  width: 200px;
  height: 300px;
  padding: 20px 15px;
  margin-left: 12px;
  text-align: center;
  background-color: #fff;
}
.brandchoice .brandchoice_list .item .pic {
  display: block;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.brandchoice .brandchoice_list .item .pic img {
  transition: all .3s;
}
.brandchoice .brandchoice_list .item:hover {
  box-shadow: 1px 1px 4px #ccc, -1px 1px 10px #ccc;
}
.brandchoice .brandchoice_list .first:hover {
  box-shadow: none;
}
.brandchoice .brandchoice_list .first {
  width: 230px;
  height: 340px;
  padding: 0;
}
.brandchoice .brandchoice_list .pic {
  display: block;
  margin-bottom: 22px;
}
.brandchoice .brandchoice_list .pic img {
  width: 200px;
  height: 200px;
}
.brandchoice .brandchoice_list .ware-name {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.brandchoice .brandchoice_list .ware-price {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.brandchoice .brandchoice_list .ware-price span {
  color: #f33;
}

.game .section-header {
  background-position: -135px -167px;
}
.game .game-inner {
  margin-left: -12px;
}
.game .game-hot .column-hd {
  background-color: #7095ee;
}
.game .ban-viewport-list {
  position: relative;
}
.game .ban-viewport-list li {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.game .ban-controls {
  position: relative;
  height: 260px;
}
.game .homeappliance-goods .con-list {
  display: none;
}
.game .game-diy .column-hd {
  background-color: #9b74e9;
}
.game .ban-wrapper {
  position: relative;
}
.game .ban-pager {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.game .ban-pager .pager-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
}
.game .ban-pager .pager-item a {
  display: block;
  width: 10px;
  height: 10px;
  font-size: 0;
  line-height: 0;
  background-color: #000;
  opacity: .6;
  filter: alpha(opacity=60);
  border-radius: 50%;
}
.game .ban-pager .pager-item .bgred {
  background-color: #f00;
  opacity: 1;
  filter: alpha(opacity=100);
}

.homeappliance .homeappliance-inner {
  margin-left: -12px;
}
.homeappliance .section-header {
  background-position: -142px -385px;
}
.homeappliance .homeappliance-left {
  float: left;
  width: 594px;
  background-color: #fff;
}
.homeappliance .homeappliance-left .column_brand-list {
  margin-top: -1px;
}
.homeappliance .homeappliance-left .column_brand-item {
  border-top: 1px solid #f7f7f7;
}
.homeappliance .homeappliance-left .ban-pager {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.homeappliance .homeappliance-left .ban-pager .pager-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
}
.homeappliance .homeappliance-left .ban-pager .pager-item a {
  display: block;
  width: 10px;
  height: 10px;
  font-size: 0;
  line-height: 0;
  background-color: #000;
  opacity: .6;
  filter: alpha(opacity=60);
  border-radius: 50%;
}
.homeappliance .homeappliance-left .ban-pager .pager-item .bgred {
  background-color: #f00;
  opacity: 1;
  filter: alpha(opacity=100);
}
.homeappliance .homeappliance-left .homeappliance-banner {
  height: 398px;
  position: relative;
  width: 594px;
  overflow: hidden;
}
.homeappliance .homeappliance-left .homeappliance-brand {
  overflow: hidden;
}
.homeappliance .homeappliance-right {
  float: left;
  width: 594px;
  margin-left: 12px;
}
.homeappliance .homeappliance-right .column-hd {
  background-color: #e78c94;
}
.homeappliance .homeappliance-right .column-con {
  position: relative;
}
.homeappliance .homeappliance-right .column-con .item {
  height: 257px;
}
.homeappliance .homeappliance-right .column-con .tab-con {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.homeappliance .homeappliance-right .column-con .tab-con:nth-of-type(1) {
  display: block;
}

.digital .section-header {
  background-position: -141px -208px;
}
.digital .digital-inner {
  margin-left: -12px;
}
.digital .digital-left .column-hd {
  background-color: #3ccbbc;
}
.digital .digital-right .column-hd {
  background-color: #eb9e74;
}
.digital .d-more {
  float: right;
  height: 18px;
  margin-top: 14px;
  line-height: 18px;
  color: #fff;
}
.digital .d-more span {
  font-size: 14px;
  vertical-align: top;
}
.digital .d-more .icon {
  width: 16px;
  height: 16px;
  border: 1px solid white;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  line-height: 16px;
  font-family: simsun;
  vertical-align: top;
  font-style: normal;
}
.digital .digital-brand {
  border-top: 1px solid #f7f7f7;
  overflow: hidden;
  background: #fff;
}
.digital .digital-brand .line {
  width: 1px;
  height: 20px;
  position: absolute;
  left: -1px;
  top: 50%;
  margin-top: -10px;
  background-color: #e6e6e6;
}

.weeksellwell {
  width: 1200px;
  margin: 0 auto;
}
.weeksellwell .weeksellwell_hd {
  height: 94px;
  line-height: 94px;
  text-align: center;
  background: url(../images/digital-3c_hd.png) repeat-x left center;
}
.weeksellwell .weeksellwell_hd span {
  display: inline-block;
  font-size: 24px;
  padding: 0 15px;
  background-color: #f7f7f7;
}
.weeksellwell .weeksellwell_list {
  margin-left: -12px;
}
.weeksellwell .weeksellwell_list li {
  float: left;
  width: 200px;
  height: 300px;
  padding: 10px 15px;
  margin: 0 0 12px 12px;
}
.weeksellwell .weeksellwell_list .upward-ware {
  background: white;
}
.weeksellwell .weeksellwell_list .upward-ware .ware-name {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.weeksellwell .weeksellwell_list .upward-ware .price {
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  color: #f33;
}
.weeksellwell .weeksellwell_list .upward-ware .pic {
  display: block;
}
.weeksellwell .weeksellwell_list .upward-ware .pic img {
  vertical-align: top;
  width: 200px;
  height: 200px;
}
.weeksellwell .weeksellwell_list .upward-region {
  padding: 18px 0;
  margin-bottom: 0;
}

.navbarfixed {
  z-index: 50;
  left: 50%;
  width: 80px;
  margin: 0 0 0 -720px;
  background-color: #908787;
  overflow: hidden;
  top: 68px;
  position: fixed;
  display: none;
}
.navbarfixed a {
  position: relative;
  display: block;
  height: 38px;
  border-bottom: 1px solid #a19999;
  font-size: 14px;
  line-height: 38px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.navbarfixed .backtop {
  border: 0 none;
  background-color: #5d4949;
}
.navbarfixed .trangle {
  display: inline-block;
  width: 9px;
  height: 38px;
  margin: 0 0 0 4px;
  vertical-align: top;
  background: url(../images/zol-home-icons.png) no-repeat -114px 17px;
}
.navbarfixed a:hover {
  z-index: 2;
  margin: -1px 0 0;
  padding: 1px 0 0;
  color: #fff;
  text-decoration: none;
  background-color: #ec3639;
  border-color: #ec3639;
}

.search-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  padding: 10px 0;
  width: 100%;
  height: 36px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ededed;
  display: none;
}
.search-fixed .logo {
  float: left;
}
.search-fixed .logo a {
  display: block;
  width: 78px;
  height: 36px;
  background: url(../images/logo_fixed1.png) no-repeat;
  font: 0/0 arial;
  overflow: hidden;
}
.search-fixed .city-location {
  margin: 5px 0 0 20px;
}
.search-fixed .search-box {
  margin: 0 0 0 120px;
}
.search-fixed .quick-entry {
  padding: 0;
}

.rightbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  background: #2d2d2d;
  z-index: 999;
}
.rightbar .tool {
  position: absolute;
  bottom: 0;
  right: 0;
}
.rightbar .tool a {
  display: block;
  width: 37px;
  height: 37px;
  background-color: #2d2d2d;
  background: url(../images/bar_ico.png) no-repeat 0 -185px;
}
.rightbar .tabbox {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -250px 0 0;
  width: 37px;
  height: 266px;
}
.rightbar .tabbox .movetab {
  position: absolute;
  width: 68px;
  background: #f33;
  font: 12px/37px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
  color: #fff;
  text-align: center;
  white-space: nowrap;
  left: -68px;
  top: 0;
  display: none;
}
.rightbar .tab-ico {
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: url(../images/bar_ico.png) no-repeat;
}
.rightbar .r-tab-orde .tab-ico {
  background-position: 0 0;
}
.rightbar .r-tab-footprint .tab-ico {
  background-position: 0 -74px;
}
.rightbar .r-tab-cart .tab-ico {
  background-position: 0 -111px;
}
.rightbar .r-tab-coupons .tab-ico {
  background-position: 0 -693px;
}
.rightbar .number {
  position: absolute;
  top: -4px;
  right: 3px;
  padding: 1px 4px 0;
  height: 13px;
  font: 12px/13px Arial;
  background: #f33;
  color: #fff;
  border-radius: 10px;
}

.r-tab-order, .r-tab-footprint, .r-tab-cart, .r-tab-coupons {
  position: relative;
  zoom: 1;
  margin: 0 0 12px;
  background-color: #2d2d2d;
}

.footer .footer-bottom li {
  float: left;
  height: 24px;
}

.footer .footer-bottom .copyright img {
  width: 16px;
  height: 16px;
  position: relative;
  top: -19px;
  left: 10px;
}

/*# sourceMappingURL=index.css.map */
